.container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    .logo-client {
        padding: 1rem;
        width: 150px;
        height: 150px;
        display: grid;
        place-items: center;
    }
}